*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


#container{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    
}
.square-element{
    height: 35px;
    flex: 0 0 calc(12% - 8px);
    border: 1px black solid; 
}