*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


#container{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    max-height:min-content;
    
}
.square-element{
    height: 55px;
    flex: 0 0 6%;
    border: 1px black solid; 
    
}